In [78]:
import os
import pandas as pd
from pathlib import Path
from fileinput import filename
import numpy as np
    
root_dir=Path ('.').resolve().parent
root_dir
file_name='llamadas123_julio_2022.csv'
file_path=os.path.join(root_dir,"data","raw",file_name)
file_path
df=pd.read_csv(file_path,sep=";",encoding="latin-1")
df.info()#información general de la tabla, que esquema, object-->string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [79]:
#Eliminar duplicados 
print('forma inicial',df.shape)
df=df.drop_duplicates()#Eliminar duplicados -->filas
df.reset_index(inplace=True)#Sobreescribe en el espacio de memoria
df.drop(columns='index',inplace=True)
#df.drop(columns='index',inplace=True,drop=True)
print('forma inicial',df.shape)
df.info()

forma inicial (13055, 11)
forma inicial (13026, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [80]:
#Tratamiento de valores nulos-->tener en cuenta el tipo de dato
# Nulo de string-->sin_dato,n/a
#Nulo de numeros-->nan numero sin asignación
#fechas-->NaT-->tiempo sin asignacion

col='UNIDAD'
df[col].value_counts(dropna=False)#-->frecuencia absoluta
#df[col].value_counts(dropna=False,normalize=True)#-->frecuencia relativa
df[col].fillna('SIN_DATO',inplace=True)#-->frecuencia relativa
df[col].value_counts(dropna=False,normalize=True)#-->frecuencia relativa
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [81]:
fecha='1985-09-22 00:00:00'
pd.to_datetime(fecha,errors='coerce',format='%Y/%m/%d')

Timestamp('1985-09-22 00:00:00')

In [82]:
col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
df[col] = pd.to_datetime(df[col],errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [83]:
col='EDAD'
df[col].value_counts()
df[col].replace({'SIN_DATO': np.nan},inplace=True)
df[col].value_counts(dropna=False,normalize=True)
df[col].value_counts()
#df[col].replace({'SIN_DATO':np.nan},inplace=True)
#df.info()
df[col].value_counts()
df[col].unique()

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [84]:
#Funciones lambda
#f= lambda x:x**2
#x=4
#f(x)

In [85]:
str_num='35'
f=lambda x:x if pd.isna(x) else int(str_num)

f(str_num)
df[col]=df[col].apply(f)
df[col]
df.info

<bound method DataFrame.info of       NUMERO_INCIDENTE FECHA_INICIO_DESPLAZAMIENTO_MOVIL  CODIGO_LOCALIDAD  \
0      CRU-00278353-22               2022-07-01 00:08:59                11
1      CRU-00278360-22               2022-07-01 00:14:58                11
2      CRU-00278365-22               2022-07-01 00:21:59                18
3      CRU-00278370-22               2022-07-01 00:38:38                19
4      CRU-00278372-22               2022-07-01 00:53:32                 1
...                ...                               ...               ...
13021  CRU-00314021-22               2022-08-08 05:31:48                14
13022  CRU-00314021-22               2022-08-08 10:38:32                14
13023  CRU-00314021-22               2022-08-08 11:23:01                10
13024  CRU-00314021-22               2022-08-08 11:23:01                10
13025  CRU-00312775-22                               NaT                 9

                LOCALIDAD  EDAD    UNIDAD     GENERO             RED  \
0                    Suba  35.0      A¤os   FEMENINO           Norte
1                    Suba  35.0      A¤os  MASCULINO           Norte
2      Rafael Uribe Uribe  35.0      A¤os   FEMENINO  Centro Oriente
3          Ciudad Bol¡var   NaN  SIN_DATO   SIN_DATO         Privada
4                 Usaqun  35.0      A¤os  MASCULINO           Norte
...                   ...   ...       ...        ...             ...
13021        Los M rtires  35.0      A¤os   FEMENINO  Centro Oriente
13022        Los M rtires   NaN  SIN_DATO   SIN_DATO   Sur Occidente
13023            Engativ   35.0      A¤os  MASCULINO  Centro Oriente
13024            Engativ   35.0      A¤os   FEMENINO  Centro Oriente
13025            Fontib¢n   NaN  SIN_DATO   SIN_DATO   Sur Occidente

                   TIPO_INCIDENTE PRIORIDAD            RECEPCION
0      Accidente Cerebro Vascular      ALTA  2022-07-01 03:40:13
1                          Herido      ALTA  2022-07-01 03:38:13
2             Evento Respiratorio   CRITICA  2022-07-01 04:08:24
3                          Herido      ALTA  0000-00-00 00:00:00
4             Intento de Suicidio      ALTA  2022-07-01 03:25:29
...                           ...       ...                  ...
13021       Acompa¤amiento Evento      BAJA       8/08/2022 6:48
13022       Acompa¤amiento Evento      BAJA  0000-00-00 00:00:00
13023       Acompa¤amiento Evento      BAJA      9/08/2022 13:13
13024       Acompa¤amiento Evento      BAJA  0000-00-00 00:00:00
13025  Accidente Cerebro Vascular      ALTA  0000-00-00 00:00:00

[13026 rows x 11 columns]>

In [86]:
col='RECEPCION'
df[col]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [87]:
#Mas de datatime
from dateutil.parser import parse
fecha='may 29th 2021'
#pd.to_datetime(fecha)
parse(fecha)

datetime.datetime(2021, 5, 29, 0, 0)

In [108]:
fechas=lambda x:parse(x)
lista_fecha=list()
for fecha in df[col]:
    try: 
        new_fecha=parse(fecha)
    except Exception as e:
        new_fecha=pd.to_datetime(fecha,errors='coerce')
        #print(e,new_fecha)
        #continue
    lista_fecha.append(new_fecha)

lista_fecha

[NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 NaT,
 ...]

In [111]:
df['RECEPCION_COR_1'] =  lista_fecha
#WORD2='  A  A'
#print(WORD2.strip())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
 11  RECEPCION_COR_1                    0 non-null      datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [112]:
col='LOCALIDAD'
df[col].unique()
df[CEPCION_COR_1]

NameError: name 'CEPCION_COR_1' is not defined

In [106]:

import re
def encontrar_patron(patron,txt):
 if re.search(patron,txt):
    new_txt='Juan C.A. es Soledeño'
    return new_txt
 else:
    pass

encontrar_patron(".*juan","juan")

'Juan C.A. es Soledeño'